.local-storage-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        margin: 1rem 1rem;
    }

    label: {
        font-weight: bold;
    }

    &-message {
        text-align: center;
    }
}