.shortcutkey {
    &-container {
        background-color: red;
        height: 5rem;
        width: 10rem;

        &-box {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.25rem;

            h4 {
                font-weight: bold;
                color: #fff;
                text-align: center;
            }
        }

        p {
            margin-top: 3rem;
        }
    }
}